/*  your css code here. If applicable */
#container{
	margin:20px;
	font-size:20px;
	color:rgb(0,0,0);
}
p::before{
	content:"Before Element ";
	color:rgb(255,0,0);
	font-size:34px;
}
p::after{
	content:" After Element";
	color:rgb(255,0,0);
	font-size:34px;
}